@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Play:wght@400;700&display=swap");
body, html {
  height: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  background: #fff;
  color: #292929;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42rem;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

button {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 914px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  line-height: 1.1;
  font-size: 3rem;
}

.hero {
  min-height: 50rem;
  height: 100vh;
  background-color: #F5F5F5;
  position: relative;
}
.hero::before {
  content: url("../../img/sprite.svg#separator1-2");
  position: absolute;
  bottom: -1.6875rem;
  right: 20%;
  height: 2.5625rem;
  width: 2.5625rem;
}
@media screen and (max-width: 768px) {
  .hero::before {
    right: 10.5%;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9375rem 0 2.8125rem;
  height: 100%;
}
@media screen and (min-width: 769px) {
  .hero__container {
    background: url("../img/big_beats/beats_hellosect-desk.png") right center/53% auto no-repeat;
  }
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero__title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title-section .hero__btn {
    padding: 1.25rem 2.6875rem;
    font-size: 1rem;
  }
  .hero__title-section::before {
    content: "";
    background: url(../img/big_beats/beats_hellosect-tablet.webp) center center no-repeat;
    background-size: contain;
    width: 20.1875rem;
    height: 20.1875rem;
    margin-bottom: 3.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section .hero__btn {
    padding: 1.25rem 2.3125rem;
    font-size: 1.1875rem;
  }
  .hero__title-section::before {
    content: "";
    background: url(../img/big_beats/beats_hellosect-tablet.webp) center center no-repeat;
    background-size: contain;
    width: 20.1875rem;
    height: 20.1875rem;
    margin-bottom: 3rem;
  }
}

.hero__title {
  max-width: 44%;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    max-width: 82%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0.375rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    max-width: 74%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.875rem;
  }
}

.hero__subtitle {
  max-width: 36%;
  font-size: 1.125rem;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    max-width: 49%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    max-width: 69%;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.5625rem;
  }
}

.hero__content-section {
  max-width: 56%;
}
@media screen and (max-width: 768px) {
  .hero__content-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.125rem;
  margin-bottom: 3.125rem;
}
.header .phone__icon {
  width: 0.9375rem;
  height: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  margin: 0.625rem 1.875rem 0;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.logo {
  display: block;
}

.logo__img {
  fill: #E01F3D;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

.nav__item {
  margin-right: 1.8125rem;
  margin-bottom: 0.5rem;
}
.nav__item:last-child {
  margin-right: 0;
}

.contacts--header {
  margin-top: 0.625rem;
}
@media screen and (max-width: 768px) {
  .contacts--header {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .contacts--footer {
    margin-bottom: 0.9375rem;
  }
}

.contacts__address {
  font-style: normal;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .contacts__address {
    font-size: 1.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .contacts__address {
    font-size: 1.125rem;
    margin-bottom: 0.8125rem;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .phone {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone {
    color: black;
  }
}

.phone--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .phone--footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phone__icon {
  margin-right: 0.4375rem;
  min-height: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  .phone__icon {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .phone__icon {
    fill: black;
  }
}

.phone__number {
  font-style: normal;
  display: inline-block;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .phone__number {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 480px) {
  .phone__number {
    font-size: 1rem;
  }
}

.hamburger {
  cursor: pointer;
  height: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  width: 1.6875rem;
  height: 0.25rem;
  border-radius: 0.1875rem;
  position: relative;
}
.hamburger__plank::before, .hamburger__plank::after {
  content: "";
  background: #292929;
  width: 1.6875rem;
  height: 0.25rem;
  border-radius: 0.1875rem;
  position: absolute;
  left: 0;
  display: block;
}
.hamburger__plank::before {
  top: -0.625rem;
}
.hamburger__plank::after {
  top: 0.625rem;
}

.advantages, .advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.advantages__img {
  width: 100%;
  height: 100%;
}

.advantages__text {
  max-width: 7.125rem;
}

.btn {
  padding: 1.0625rem 2.5625rem;
  display: inline-block;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.125rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn--color--red {
  background-color: #E01F3D;
}
.btn--color--red:hover {
  background-color: #fff;
  color: #E01F3D;
}

.btn--color--bred {
  background-color: #CA1B36;
  padding: 1.3125rem 2.5625rem;
}
.btn--color--bred:hover {
  background-color: #fff;
  color: #CA1B36;
}

.btn--color--transpar {
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  padding: 1.0625rem 0.625rem;
}
.btn--color--transpar:hover {
  color: #E01F3D;
}

.section {
  min-height: 50rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666666;
  position: relative;
}
.section--form {
  background-color: #181818;
  color: #fff;
}
.section--form .heading--form--title {
  color: inherit;
}

.section--benefits::before {
  content: url(../img/add_icons/separator2-3.svg);
  position: absolute;
  bottom: -1.1875rem;
  left: 15%;
  z-index: 99999;
}
@media screen and (max-width: 768px) {
  .section--benefits::before {
    left: 6%;
  }
}
@media screen and (max-width: 480px) {
  .section--benefits::before {
    left: 10%;
  }
}

.section--slider {
  background-color: #F5F5F5;
}
.section--slider::before {
  content: url(../img/add_icons/separator3-4.svg);
  position: absolute;
  z-index: 99999;
  bottom: -1.5625rem;
  right: 21%;
}
@media screen and (max-width: 768px) {
  .section--slider::before {
    right: 6%;
  }
}

.section--reviwes::before {
  content: url(../img/add_icons/separator6-7.svg);
  bottom: -1.5625rem;
  left: 18%;
  position: absolute;
  z-index: 99999;
}
@media screen and (max-width: 768px) {
  .section--reviwes::before {
    left: 9%;
  }
}
@media screen and (max-width: 480px) {
  .section--reviwes::before {
    left: 11%;
  }
}

.section--form {
  background: url(../img/form-section-bg.webp) center center no-repeat;
  background-size: cover;
}
.section--form::before {
  content: url("../img/add_icons/separator7-8.svg");
  position: absolute;
  right: 19.3%;
  top: -1.4375rem;
  z-index: 99999;
}
@media screen and (max-width: 768px) {
  .section--form::before {
    right: 9.3%;
  }
}

.section--contacts {
  height: 100vh;
  min-height: 40.625rem;
  position: relative;
}

.heading {
  text-align: center;
}

.heading--benefits {
  margin-bottom: 3.9375rem;
}
@media screen and (max-width: 768px) {
  .heading--benefits {
    margin-bottom: 3.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--benefits {
    margin-bottom: 2.8125rem;
  }
}

.heading--slider {
  text-align: left;
  margin-bottom: 1.4375rem;
}
@media screen and (max-width: 768px) {
  .heading--slider {
    text-align: center;
    margin-bottom: 15px;
  }
}
.heading--slider .heading__title {
  font-size: 2.25rem;
}
@media screen and (max-width: 768px) {
  .heading--slider .heading__title {
    font-size: 28px;
  }
}

.heading--benefits--title {
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 768px) {
  .heading--benefits--title {
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--benefits--title {
    margin-bottom: 0.625rem;
  }
}

.heading__text {
  padding: 0 22%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .heading__text {
    padding: 0 15%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .heading__text {
    padding: 0 2%;
  }
}

.heading--reviews {
  margin-bottom: 1.4375rem;
}
@media screen and (max-width: 768px) {
  .heading--reviews {
    margin-bottom: 2.1875rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--reviews {
    margin-bottom: 1.25rem;
  }
}

.heading--form {
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .heading--form {
    margin-bottom: 2.3125rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  position: absolute;
  content: url("../img/benefit__icons/benefit-separator.svg");
  top: 3.625rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0 1%;
  }
  .benefits__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-bottom: 1.25rem;
  }
  .benefits__item .benefit__text {
    text-align: start;
    max-width: 65%;
  }
  .benefits__item .benefit__img {
    margin-right: 1.25rem;
  }
  .benefits__item::before {
    display: none;
  }
}

.benefit {
  text-align: center;
}

.benefit__img {
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .benefit__img {
    margin-bottom: 1.6875rem;
  }
}

.benefit__img--wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #F2F5F4;
}
@media screen and (max-width: 480px) {
  .benefit__img--wrapper {
    width: 8.125rem;
    height: 8.125rem;
  }
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.625rem;
  }
}

.benefit__desc {
  line-height: 1.2;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    font-size: 1rem;
  }
}

.slider--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  max-width: 977px;
  margin: 0 auto;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__col {
  margin-right: 4%;
}
.slider__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .slider__col {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .slider__col:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .slider__col {
    margin-bottom: 25px;
  }
  .slider__col:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .slider__col--img {
    background: url(../img/slider/beats1.png) center center/100% auto no-repeat;
    height: 28.25rem;
    width: 28.25rem;
  }
}
@media screen and (max-width: 768px) {
  .slider__col--img {
    background: url(../img/slider/beats1-tablet.png) center center/100% auto no-repeat;
    height: 22rem;
    width: 22rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__col--img {
    background: url(../img/slider/beats1-tablet.png) center center/100% auto no-repeat;
    height: 22rem;
    width: 22rem;
  }
}
.slider__col--content {
  width: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__col--content {
    width: 96%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .slider__col--content {
    width: 91%;
  }
}

.slider__dropdown {
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .slider__dropdown {
    display: none;
  }
}

.slider__text {
  line-height: 1.3;
  width: 94%;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .slider__text {
    text-align: center;
    margin-bottom: 1.9rem;
  }
}

.slider__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .slider__features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.8rem;
  }
}

.slider__feature {
  margin-right: 5.5rem;
}
.slider__feature:last-child {
  margin-right: 0;
}

.slider__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__price {
  font-size: 2.25rem;
  color: #151515;
  margin-right: 1.25rem;
  white-space: nowrap;
}

.slider__btn {
  padding: 1.25rem 2.5625rem;
}

.dropdown {
  cursor: pointer;
}
.dropdown:hover .dropdown__menu {
  opacity: 0.9;
  left: 5.6875rem;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.dropdown__menu {
  width: 17.0625rem;
  padding: 1.75rem 1.625rem 0.3125rem 2.25rem;
  background-color: white;
  z-index: 999999;
  border-radius: 0.25rem;
  position: absolute;
  top: -0.3125rem;
  opacity: 0;
  left: -62499.9375rem;
}
.dropdown__menu::before {
  content: "";
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0rem;
  left: -4.125rem;
}

.dropdown__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5625rem;
}

.dropdown__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__icon {
  margin-right: 1.25rem;
}
.dropdown__icon--location {
  margin-right: 0.625rem;
}
.dropdown__icon--kg {
  margin-right: 1.5rem;
}

.dropdown__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.arrow {
  width: 1.1875rem;
  height: 1.6875rem;
  cursor: pointer;
}
.arrow--left {
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .arrow--left {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .arrow {
    padding-bottom: 310px;
  }
}

.arrow__img {
  fill: black;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.reviews-display {
  margin-bottom: 0.9375rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews-display {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews-display {
    margin-bottom: 2.375rem;
  }
}
.reviews-display::before {
  content: "";
  position: absolute;
  top: -3.75rem;
  left: 45%;
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #fff;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .reviews-display::before {
    display: none;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8FAF9;
  min-height: 21.75rem;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 3.75rem 2.1875rem 2.5rem;
  }
}

.review__avatar {
  width: 15.8125rem;
  height: 16.5rem;
  margin: 0 2.625rem;
}
@media screen and (max-width: 768px) {
  .review__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .review__avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-bottom: 1.5625rem;
  }
}

.review__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .review__main {
    max-width: 95%;
  }
}

.review__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .review__title {
    font-size: 1.5rem;
  }
}

.review__text {
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  .review__text {
    margin-bottom: 0.625rem;
    line-height: 1.2;
  }
}

.review__author {
  font-size: 1.125rem;
  color: #292929;
}

.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__item {
  margin-right: 0.625rem;
}
.review__item:last-child {
  margin-right: 0;
}

.interactive-avatar {
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  border: solid transparent 0.25rem;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #E01F3D;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inputs__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.75rem;
}
.inputs__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .inputs__col {
    padding: 0 18.5%;
    margin-right: 0.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .inputs__col {
    padding: 0 1%;
  }
}

.inputs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .inputs__row {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .inputs__row--textarea {
    margin-bottom: 0rem;
  }
}

.inputs__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8125rem;
}
.inputs__block:last-child {
  margin-right: 0px;
}

textarea {
  height: 9.375rem;
  resize: none;
  overflow: scroll;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  textarea {
    height: 5.125rem;
  }
}

.inputs__form {
  width: 100%;
  height: 3.625rem;
  border-radius: 0.1875rem;
  padding: 1.125rem 0.6875rem;
  border: 0.1875rem solid transparent;
}
@media screen and (max-width: 768px) {
  .inputs__form {
    height: 2.375rem;
    padding: 0.25rem 0.5rem;
  }
}
.inputs__form:focus {
  border: 0.1875rem solid #CA1B36;
  outline: none;
}

.inputs__form--textarea {
  height: 9.375rem;
}
@media screen and (max-width: 768px) {
  .inputs__form--textarea {
    height: 5.625rem;
  }
}

.inputs__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .inputs__controls {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .inputs__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.inputs__controls:last-child {
  margin-bottom: 0;
}

.inputs__buttons {
  margin-top: 2.5rem;
}
@media screen and (max-width: 768px) {
  .inputs__buttons {
    margin-top: 1.5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .inputs__buttons .btn--color--bred {
    margin-right: 0.9375rem;
  }
}

@media screen and (max-width: 768px) {
  .inputs__button--active {
    color: #E01F3D;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-right: 1.25rem;
  }
}
.radio:last-child {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.3125rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/add_icons/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.map {
  background: url(../img/map.webp) center center/100% no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.4375rem 0;
}
.footer .phone__icon {
  width: 0.8125rem;
  height: 0.8125rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.6875rem;
}
.socials__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .socials__item {
    margin-right: 1.15rem;
  }
}

.socials__link--active .socials__img {
  fill: black;
}

.socials__img {
  fill: #B3B3B3;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.socials__img:hover {
  fill: black;
}
@media screen and (max-width: 480px) {
  .socials__img {
    width: 1.7rem;
    height: 1.7rem;
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sidebar {
  position: fixed;
  top: 40%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}

.sidebar__item {
  margin-bottom: 0.3125rem;
}
.sidebar__item--active .sidebar__link {
  border-color: #E01F3D;
}
.sidebar__item--active .sidebar__link::before {
  background-color: #E01F3D;
}

.sidebar__link {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.sidebar__link::before {
  content: "";
  border-radius: 50%;
  height: 0.375rem;
  width: 0.375rem;
  background-color: #868686;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fullscreen-menu {
  background-color: #333537;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: none;
}

.fullscreen-menu__close {
  position: absolute;
  display: block;
  right: 2.5rem;
  top: 2.5rem;
  width: 1.25rem;
  height: 1.25rem;
}
.fullscreen-menu__close::before, .fullscreen-menu__close::after {
  position: absolute;
  left: 0.625rem;
  content: " ";
  height: 1.25rem;
  width: 0.25rem;
  background-color: #F5F5F5;
  border-radius: 0.5rem;
}
.fullscreen-menu__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fullscreen-menu__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.fullscreen-menu__close:hover:before, .fullscreen-menu__close:hover:after {
  background-color: #868686;
}

.menu {
  color: #fff;
  font-size: 2.25rem;
  line-height: 1.1;
  min-height: 50rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-bottom: 1.25rem;
}