.contacts--header {
  margin-top: convert(10px);

  @include tablet {
    display: none;
  }
}

.contacts--footer {
  
  @include mobile {
    margin-bottom: convert(15px);
  }
}

.contacts__address {
  font-style: normal;
  flex-wrap: nowrap;
  display: flex;
  font-size: convert(18px);

  @include tablet {
    font-size: convert(21px);
  }

  @include mobile {
    font-size: convert(18px);
    margin-bottom: convert(13px);
  }
}