.arrow {
  width: 19px;
  height: 27px;
  cursor: pointer;

  &--left {
    margin-right: convert(10px);

    @include tablet {
      margin-right: 0;
    }
  }

  @include tablet {
    padding-bottom: convert(310px);
  }
}

.arrow__img {
  fill: black;
  display: block;
  transition: .4s;
}