.arrow {
  width: convert(15px);
  height: convert(29px);
  cursor: pointer;
  position: absolute;
  z-index: 100;

  &--left {
    left: 0;
    top: 50%;
    
    @include tablet {
      margin-right: 0;
      top: 36%;

      @include mobile {
        top: 36%;
      }
    }
  }

  &--right {
    right: 0;
    top: 50%;

    @include tablet {
      top: 36%;
    }

    @include mobile {
      top: 36%;
    }
  }
}

.arrow__img {
  fill: black;
  display: block;
  transition: .4s;
  margin: 0 0;
}