.benefits {
  display: flex;

  @include mobile {
    flex-direction: column;

  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include mobile {
    display: flex;
    align-items: center;
    padding: 0;

    .benefit__text {
      text-align: start;
      max-width: 60%;
    }

    .benefit__img {
      margin-right: 20px;
    }
    &::before {
      display: none;
    }

  }


  &::before {
    position: absolute;
    content: url("../img/benefit__icons/benefit-separator.svg");
    top: convert(58px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}

.benefit {
  text-align: center;
}

.benefit__img {
  margin-bottom: convert(15px);
}

.benefit__img--wrapper {
  display: inline-block;
  width: convert(126px);
  height: convert(126px);
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #F2F5F4;
}

.benefit__icon {
  width: convert(60px);
  height: convert(60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: convert(24px);
  color: #292929;
  margin-bottom: convert(5px);
}

.benefit__desc {
  line-height: 1.2;
}