.contacts--header {
  margin-top: 10px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.contacts--footer {
  
  @include mobile {
    padding-left: 10px;
    margin-bottom: 15px;
  }

}

.contacts__address {
  font-style: normal;
  flex-wrap: nowrap;
  display: flex;

  @include tablet {
    font-size: 21px;
  }

  @include mobile {
    font-size: 18px;
    margin-bottom: 13px;
  }

}