.contacts--header {
  margin-top: 10px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.contacts--footer {
  @include tablet {
    padding-left: 45px;
  }
}

.contacts__address {
  font-style: normal;

  @include tablet {
    font-size: 21px;
  }

}