.dropdown {
  cursor: pointer;

  &:hover .dropdown__menu {
    opacity: 0.9;
    left: convert(91px);
    transition-property: opacity;
    transition-duration: .5s;
  }
}

.dropdown__menu {
  width: convert(273px);
  padding: convert(28px) convert(26px)  convert(5px) convert(36px);
  background-color: rgb(255, 255, 255);
  z-index: 999999;
  border-radius: convert(4px);
  position: absolute;
  top: convert(-5px);
  opacity: 0;
  left: convert(-999999px);

  &::before {
    content: "";
    height: 100%;
    width: 30%;
    position: absolute;
    top: convert(0px);
    left: convert(-66px);
  }
}

.dropdown__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: convert(25px);
}

.dropdown__left {
  display: flex;
  align-items: center;
}

.dropdown__icon {
  margin-right: convert(20px);

  &--location {
    margin-right: convert(10px);
  }
  &--kg {
    margin-right: convert(24px);
  }
}

.dropdown__right {
  display: flex;
  justify-content: flex-end;
}