.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: convert(23px) 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
