.hamburger {
  cursor: pointer;
  height: convert(25px);
  display: flex;
  align-items: center;
}

.hamburger__menu {
  display: none;

  @include tablet {
    display: flex;  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px;  
  position: relative;

  &::before, &::after {
    content: "";
    background: #292929;
    width: 1.7rem;
    height: 4px;
    border-radius: 3px; 
    position: absolute;
    left: 0;
    display: block;
  }
  
  &::before {
    top: -0.5em;
  }

  &::after {
    top: 0.5em;
  }
}