.hamburger {
  cursor: pointer;
  height: convert(25px);
  display: flex;
  align-items: center;
}

.hamburger__menu {
  display: none;

  @include tablet {
    display: flex;  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  width: convert(27px);
  height: 0.25rem;
  border-radius: convert(3px);  
  position: relative;

  &::before, &::after {
    content: "";
    background: #292929;
    width: convert(27px);
    height: 0.25rem;
    border-radius: convert(3px);
    position: absolute;
    left: 0;
    display: block;
  }
  
  &::before {
    top: convert(-10px);
  }

  &::after {
    top: convert(10px);
  }
}