.hamburger {
  cursor: pointer;
  height: convert(25px);
  display: block;
}

.hamburger__menu {
  display: none;

  @include tablet {
    display: block;  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  width: convert(27px);
  height: convert(4px);
  border-radius: convert(5px);  
  position: relative;

  &::before, &::after {
    content: "";
    background: #292929;
    width: convert(27px);
    height: convert(4px);
    border-radius: convert(5px);
    position: absolute;
    left: 0;
    display: block;
  }
  
  &::before {
    top: convert(20px);
  }

  &::after {
    top: convert(10px);
  }
}