.heading {
  text-align: center;
}

.heading--benefits {
  margin-bottom: convert(63px);
}

.heading--reviews {
  margin-bottom: convert(23px);
}

.heading--form {
  margin-bottom: convert(50px);
}

.heading--benefits--title {
  margin-bottom: convert(10px);
}

.heading__text {
  padding: 0 22%;
  line-height: 1.2;
  
  @include tablet {
    padding: 0 17%;
  }
}