.heading {
  text-align: center;
}

.heading--benefits {
  margin-bottom: 63px;
}

.heading--reviews {
  margin-bottom: 23px;
}

.heading--form {
  margin-bottom: 50px;
}

.heading--benefits--title {
  margin-bottom: 10px;
}

.heading__text {
  padding: 0 22%;
  line-height: 1.2;
}