.heading {
  text-align: center;
}

.heading--benefits {
  margin-bottom: convert(63px);

  @include tablet {
    margin-bottom: convert(53px);
  }

  @include mobile {
    margin-bottom: convert(45px);
  }
}

.heading--benefits--title {
  margin-bottom: convert(10px);

  @include tablet {
    margin-bottom: convert(15px);
  }

  @include mobile {
    margin-bottom: convert(10px);
  }
}

.heading__text {
  padding: 0 22%;
  line-height: 1.2;
  
  @include tablet {
    padding: 0 15%;
    font-size: convert(16px);
  }

  @include mobile {
    padding: 0 2%;
  }
}

.heading--reviews {
  margin-bottom: convert(23px);

  @include tablet {
    margin-bottom: convert(35px);
  }

  @include mobile {
    margin-bottom: convert(20px);
  }
}

.heading--form {
  margin-bottom: convert(50px);

  @include tablet {
    margin-bottom: convert(37px);
  }
}