.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: convert(18px);

  @include tablet {
    align-items: center;
  }
}

.header__nav {
  margin: convert(10px) convert(30px) 0;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}
