.hero {
  min-height: convert(800px);
  height: 100vh;
  background-color: $grey;
  position: relative;
  
  &::before {
    content: url("../img/sprite.svg#separator1-2");
    position: absolute;
    bottom: convert(-27px);
    right: 20%;
    height: 41px;
    width: 41px;

    @include tablet {
      right: 10.5%;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: convert(15px) 0 convert(45px);
  height: 100%;

  @media screen and (min-width: 769px) {
    background: url("../img/big_beats/beats_hellosect-desk.png") right center /53% auto no-repeat;
  }

  @include tablet {
    background: none;
    justify-content: flex-start;
  }
}

.hero__title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: convert(50px);

  @include tablet {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero__btn {
      padding: convert(20px) convert(43px); 
      font-size: convert(16px);
    }

    &::before {
      content: "";
      background: url(../img/big_beats/beats_hellosect-tablet.webp) center center no-repeat;
      background-size: contain;
      width: convert(323px);
      height: convert(323px);
      margin-bottom: convert(63px);
    }
  }

  @include mobile {
    
    .hero__btn {
      padding: convert(20px) convert(37px); 
      font-size: convert(19px);
    }

    &::before {
      content: "";
      background: url(../img/big_beats/beats_hellosect-tablet.webp) center center no-repeat;
      background-size: contain;
      width: convert(323px);
      height: convert(323px);
      margin-bottom: convert(48px);
    }
  }
}

.hero__title {
  max-width: 44%;
  line-height: 1.1;
  margin-bottom: convert(20px);

  @include tablet {
    max-width: 82%; 
    text-align: center;
    font-size: convert(48px);
    margin-bottom: convert(6px);
  }

  @include mobile {
    max-width: 74%; 
    text-align: center;
    font-size: convert(32px);
    margin-bottom: convert(14px);
  }
}

.hero__subtitle {
  max-width: 36%;
  font-size: convert(18px);
  margin-bottom: convert(35px);

  @include tablet {
    max-width: 49%; 
    text-align: center; 
    font-size: convert(18px);
    line-height: 1.4;
    margin-bottom: convert(20px);
  }

  @include mobile {
    max-width: 69%; 
    text-align: center; 
    line-height: 1.2;
    margin-bottom: convert(25px);
  }
}

.hero__content-section {
  max-width: 56%;

  @include tablet {
    display: none;
  }
}
