.inputs {
  display: flex;

   @include tablet {
     flex-direction: column;
   }
}

.inputs__col {
  flex: 1;
  margin-right: convert(28px);

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    padding: 0 18.5%;
    margin-right: convert(5px);

  }

  @include mobile {
    padding: 0 1%;

  }
}

.inputs__row {
  display: flex;
  margin-bottom: convert(15px);

  @include tablet {
    margin-bottom: convert(15px);
  }
}

.inputs__row--textarea {

  @include tablet {
    margin-bottom: convert(-5px);
  }
}

.inputs__block {
  flex: 1;
  margin-right: convert(13px);

  &:last-child {
    margin-right: 0;
  }
}

.inputs__form {
  width: 100%;
  height: convert(58px);
  border-radius: convert(3px);
  padding: convert(18px) convert(11px);
  border: convert(3px) solid transparent;

  @include tablet {
    height: convert(36px);
    padding: convert(4px) convert(8px);
  }

  &:focus {
    border: convert(3px) solid $bred;
    outline: none;
  }
}

textarea {
  height: convert(150px);
  resize: none;
  overflow: scroll;
  margin-bottom: convert(25px);
}

.inputs__block--text {
  text {
    @include tablet {
      height: convert(45px);
      padding: convert(5px) convert(11px);
    }
  }
}

.inputs__block--textarea {

  textarea{
    @include tablet {
      height: convert(82px);
    }
  }
}

.inputs__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: convert(15px);

  @include tablet {
    margin-bottom: convert(10px);
  }

  @include mobile {
    justify-content: center;
    margin-bottom: convert(11px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.inputs__buttons {
  margin-top: convert(35px);

  @include tablet {
    margin-top: convert(25px);
    display: flex;
    justify-content: center;
  }

  @include mobile {
    margin-top: convert(26px);
    display: flex;
    justify-content: center;
  }

  .btn--color--bred {

    @include tablet {
      margin-right: convert(15px);
    }

    @include mobile {
      margin-right: convert(15px);
    }
  }
}



.inputs__button--active {

  @include tablet {
    color: $red;
  }

  @include mobile {
    color: $red;
  }
}

