.inputs {
  display: flex;
   @include tablet {
     flex-direction: column;
   }
}

.inputs__col {
  flex: 1;
  margin-right: convert(28px);

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    padding: 0 20%;
    margin-right: 0px;

  }
}

.inputs__row {
  display: flex;
  margin-bottom: convert(15px);
}

.inputs__block {
  flex: 1;
  margin-right: convert(13px);

  &:last-child {
    margin-right: 0;

  }

}

.inputs__form {
  width: 100%;
  min-height: convert(58px);
  border-radius: convert(3px);
  padding: convert(18px) convert(11px);
  border: convert(3px) solid transparent;

  &:focus {
    border: convert(3px) solid $bred;
    outline: none;
  }

}

textarea {
  height: convert(150px);
  resize: none;
  overflow: scroll;
  margin-bottom: convert(25px);

  @include tablet {
    height: convert(82px);
  }
}

.inputs__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: convert(15px);

  &:last-child {
    margin-bottom: 0;
  }
}

.inputs__buttons {
  margin-top: convert(40px);

  @include tablet {
    display: flex;
    justify-content: center;
  }
}