.phone {
  display: flex;
  align-items: center;

  @include tablet {
    color: $red;
  }

  @include mobile {
    color: black;
  }
}

.phone--footer {
  display: flex;

  @include mobile {
    justify-content: center;
  }
}

.phone__icon {
  margin-right: convert(7px);
  width: convert(16px);
  height: convert(16px);
  min-height: 100%;
  display: block;

  @include tablet {
    fill: $red;
  }

  @include mobile {
    fill: black;
  }
}

.phone__number {
  font-style: normal;
  display: inline-block;

  @include tablet {
    font-size: convert(18px);
  }

  @include mobile {
    font-size: convert(16px);
  }
}

