.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: convert(10px);

  @include tablet {
    margin-bottom: 10px;
  }

  @include mobile {
    margin-right: 20px;

  }

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
      border-radius: convert(5px);

      &::before {
        background: url("../img/add_icons/checkmark.svg") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {

    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: convert(26px);
  height: convert(26px);
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  margin-right: convert(10px);


  &::before {
    content: "";
    width: convert(14px);
    height: convert(14px);
    background: $red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}