.reviews-display {
  margin-bottom: convert(15px);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: convert(-60px);
    left: 50%;
    display: block;
    width: convert(90px);
    height: convert(90px);
    background-color: #fff;
    border-radius: 50%;

    @include tablet {
      left: 45%;
    }

  }
}

.review {
  display: flex;
  align-items: center;
  background-color: #F8FAF9;
  min-height: convert(348px);

  @include tablet {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
}

.review__avatar {
  width: convert(253px);
  height: convert(264px);
  margin: 0 convert(42px);

  @include tablet {
    width: convert(130px);
    height: convert(130px);
    margin-bottom: 30px;
  }
}

.review__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.review__main {
  flex: 1;
  max-width: 50%;

  @include tablet {
    max-width: 90%;
  }

}

.review__title {
  font-size: convert(24px);
  font-weight: 700;
  color: #292929;
  margin-bottom: convert(15px);
}

.review__text {
  margin-bottom: convert(32px);
}


.review__author {
  font-weight: 700;
  font-size: convert(18px);
  color: #292929;
}

.review__list {
  display: flex;
  justify-content: center;
}

.review__item {
  margin-right: convert(10px);
  
  &:last-child {
    margin-right: 0;
  }
}
