.section {
  height: 100vh;
  min-height: convert(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666666;
  position: relative;

  &--form {
    background-color: #181818;
    color: #fff;

    .heading--form--title {
      color: inherit;
    }
  }
}

.section--benefits {
  
  &::before {
    content: url(../img/add_icons/separator2-3.svg);
    position: absolute;
    bottom: convert(-19px);
    left: 15%;

    @include tablet {
      left: 6%;
    }
  }
}

.section--reviwes {

  &::before{
    content: url(../img/add_icons/separator6-7.svg);
    bottom: convert(-25px);
    left: 18%;
    position: absolute;
  
  }
}

.section--form {
  background: url(../img/form-section-bg.png) center center no-repeat;
  background-size: cover;

  &::before {
    content: url("../img/add_icons/separator7-8.svg");
    position: absolute;
    right: 19.3%;
    top: convert(-23px);
  }
}

.section--contacts {
  height: 100vh;
  min-height: convert(650px);
  position: relative;

}