.sidebar {
  position: fixed;
  top: 40%;
  right: 5%;
}

.sidebar__item {
  margin-bottom: 5px;

  &--active {

    .sidebar__link {
      border-color: $red;

      &::before {
        background-color: $red;
      }
    }
  }
}

.sidebar__link {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &::before {
    content: "";
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color: $dgrey;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
